body {
    background-image: url('bgimg.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
  .form_login_signup{
    font-size: 20px;
    padding: 50px;
    width: 500px;
    text-align: left;
    margin-right: 80px;
    float: right;
    background-color: whitesmoke;   
}